body {
  /* Sets the background for the entire page to a light yellow color */
  background-color: #FAF8DA;
  font-family: 'Lora', serif; /* Font from Google Fonts */

}

/* begin header styling */
.main-heading {
  font-size: 60px;
  color: #205D76;
}

.town-preview {
  width: 700px;

}

img.center {
  display: block;
  margin: 0 auto;
  position:relative;
}

.primary-header {
    text-align: center; /* This will center the main heading and the main image */
}

#me {
    width:100px;
    height:100px;
    border-radius:100%;
    position: absolute;
}

#one {
    position: relative;
    font-size: 20px;
    text-align: center;
}
/* end header styling */

/* begin main styling */
.building {
  width: 200px;
}

.category-heading {
  color: #205D76;
  font-size: 30px;
}

.store-list {
  color: #FFC122; /* this will make sure the bullet points turn dark yellow! */
}

.store-link {
  color: #EA6E2F;
  font-size: 20px;
}

.store-section {
    display: flex;
    display: -webkit-flex; /* This is a vendor prefix! */
    margin: 50px auto;
    width: 450px;
}

.store-details {
    margin-left: 30px;
}

.store-list {
    padding-left: 15px; /* newly added styling */
    color: #FFC122;
}

.store-name {
    margin-bottom: 10px;
}
/* end main styling */

/* begin footer styling */
.primary-footer {
  padding: 2px;
  background-color: #FFC122;
  text-align: center;
}

.created-by {
  color: #FFFFFF;
  font-size: 20px;
}
/* end footer styling */
